<div class="mat-elevation-z8 p-4 main-container">
    <!-- loading indicator -->
     <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

     <!-- error message -->
      <mat-error *ngIf="error$ | async as error" class="mb-4">{{error}}</mat-error>

    <!-- filter -->
    <mat-form-field class="filter-field">
        <mat-label>Fitler Users</mat-label>
        <input matInput  [formControl]="filterControl" placeholder="Search by Name, Email, or Username" >
        <button mat-icon-button matSuffix *ngIf="filterControl.value" 
                (click)="filterControl.reset()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Table -->
     <table mat-table [dataSource]="(displayedUser$ | async) ?? []"
            matSort [matSortActive]="initialSort.sortColumn"
            [matSortDirection]="initialSort.sortDirection"
            (matSortChange)="sortChange($event)"
            class="w-full"
     >

     <!-- Id Column  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <!-- Name column  -->
       <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="(editingUserId$ | async) !== user.id; else nameEdit">
            {{user.name}}
          </ng-container>
          <ng-template #nameEdit>
            <ng-container [formGroup]="editForm">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="name">
                <mat-error *ngIf="editForm.get('name')?.touched && editForm.get('name')?.errors?.['required']"> Name is required</mat-error>
              </mat-form-field>
            </ng-container>
          </ng-template>
        </td>
       </ng-container>

      <!-- UserName column  -->
       <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="(editingUserId$ | async) !== user.id; else userNameEdit">
            {{user.username}}
          </ng-container>
          <ng-template #userNameEdit>
            <ng-container [formGroup]="editForm">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="username">
                <mat-error *ngIf="editForm.get('username')?.touched && editForm.get('username')?.errors?.['required']"> Username is required</mat-error>
              </mat-form-field>
            </ng-container>
          </ng-template>
        </td>
       </ng-container>
      <!-- mail column  -->
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="(editingUserId$ | async) !== user.id; else mailEdit">
            {{user.email}}
          </ng-container>
          <ng-template #mailEdit>
            <ng-container [formGroup]="editForm">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="email">
                <mat-error *ngIf="editForm.get('email')?.touched && editForm.get('email')?.errors?.['required']"> Name is required</mat-error>
                <mat-error *ngIf="editForm.get('email')?.touched && editForm.get('email')?.errors?.['email']"> Invalid email format</mat-error>
              </mat-form-field>
            </ng-container>
          </ng-template>
        </td>
       </ng-container>

         <!-- Actions Column -->
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="(editingUserId$ | async) !== user.id; else editActions">
              <button mat-icon-button color="primary"
                      (click)="startEdit(user)"
                      [disabled]="editingUserId$ | async"
                      matTooltip="Edit user">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-template #editActions>
              <button mat-icon-button color="primary"
                      (click)="saveUser()"
                      [disabled]="!editForm.valid"
                      matTooltip="Save changes">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button color="warn"
                      (click)="cancelEdit()"
                      matTooltip="Cancel editing">
                <mat-icon>close</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.editing-row]="(editingUserId$ | async) === row.id">
    </tr>

     </table>
    
     <!-- No Data Message -->
    <div *ngIf="(displayedUser$ | async)?.length === 0" 
        class="p-4 text-center text-gray-500">
     No users found
   </div>

   <!-- Paginator  -->
    <!-- Paginator -->
    <mat-paginator [length]="totalUser$ | async"
    [pageSize]="initialSort.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)">
  </mat-paginator>


</div>